---
import Layout from "@/layouts/Layout.astro";
import Form from "@/components/Form.astro";
import Title from "@/components/Title.astro";
import Spotlight from "@/components/Spotlight.astro";
import ResultsModal from "@/components/ResultsModal.astro";
---

<Layout>
  <div class="w-full h-full overflow-y-hidden">
    <Spotlight
      className="-top-40 -left-10 md:-left-32 md:-top-20 h-screen hidden lg:flex"
      fill="lightgreen"
    />
    <Spotlight
      className="h-full w-[50vw] top-10 left-[90%] hidden lg:flex"
      fill="lightgreen"
    />
    <Spotlight
      className="left-80 top-28 h-full w-[50vw] hidden lg:flex"
      fill="lightgreen"
    />
  </div>
  <div class="max-w-5xl mx-auto text-center space-y-4">
    <Title />
    <p class="text-emerald-600 mt-6">
      Simula el juego de raspa y gana. Ingresa la cantidad de tiquetes y prueba
      tu suerte.
    </p>
  </div>
  <Form />
  <ResultsModal />
</Layout>
