<footer class="w-full py-7 mt-10">
  <div class="mx-auto max-w-5xl flex justify-between items-center flex-col px-4">
    <span class="text-sm sm:text-center">© 2025 Simulación Digital</span>
    <hr class="my-4 w-full h-[1px] border-t-0 bg-emerald-600" />
    <div class="flex flex-col md:flex-row justify-center items-center gap-x-3">
      <span class="italic">Raúl Quimbaya</span>
      <div class="hidden md:flex">|</div>
      <span class="italic">Daniel Ramírez</span>
      <div class="hidden md:flex">|</div>
      <span class="italic">Juan David Rodríguez</span>
    </div>
  </div>
</footer>
