<h1
  class="text-5xl tracking-tighter md:text-6xl flex flex-col items-center justify-center font-bold text-emerald-700"
>
  ¡Descubre tu suerte con la <span class="italic text-emerald-500 font-bold"
    >Lotería de Nueva York!
  </span>
</h1>
