---
import Footer from "@/components/Footer.astro";
import MoneyParticles from "@/components/MoneyParticles.astro";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>
      Lotería de Nueva York - Simula tu suerte con tiquetes virtuales
    </title>
    <meta
      name="description"
      content="Simula tu suerte con tiquetes virtuales de la Lotería de Nueva York. Genera resultados aleatorios y descubre si eres un afortunado."
    />
  </head>
  <body
    class="min-h-screen bg-gradient-to-br from-white to-emerald-50 text-emerald-900 relative overflow-x-hidden flex flex-col justify-between"
  >
    <MoneyParticles />
    <main
      class="container h-full mx-auto px-4 py-16 relative flex flex-col items-center justify-start flex-1"
    >
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style is:global>
  @import "../styles/global.css";
  @import "@fontsource-variable/inter";

  * {
    box-sizing: border-box;
    font-family: "Inter Variable", sans-serif;
  }

  :root {
    background-color: #a7f1cc;
  }

  html::-webkit-scrollbar,
  ul::-webkit-scrollbar {
    width: 0.5rem;
  }

  html::-webkit-scrollbar-thumb,
  ul::-webkit-scrollbar-thumb {
    background: #007a55;
    border-radius: 4rem;
  }
</style>
